[workspace]
name = "foundry"
version = "0.0.1"
description = "Pixi environment for https://github.com/RosettaCommons/foundry app"
#platforms = ["linux-64", "osx-64", "osx-arm64"]
platforms = ["linux-64"]
channels = ["conda-forge"]

[dependencies]
python = "3.12.*"
pip = "*"
git = "*"
uv = "*"

[activation.env]
FOUNDRY_VERSION = "v0.1.9"
FOUNDRY_DIR = "$PIXI_PROJECT_ROOT/foundry"
FOUNDRY_CHECKPOINTS = "$FOUNDRY_DIR/weights"

[tasks]
setup = { depends-on = ["clone", "install", "download-models"] }

[tasks.clone]
cmd = ["bash", "-lc", """
if [ ! -d "$FOUNDRY_DIR" ]; then
  git clone https://github.com/RosettaCommons/foundry "$FOUNDRY_DIR"
fi
cd "$FOUNDRY_DIR" && git checkout $FOUNDRY_VERSION
"""]

[tasks.install]
depends-on = ["clone"]
cmd = ["bash", "-lc", """
cd "$FOUNDRY_DIR" && \
pip install ".[all]" && \
foundry --help
"""]

[tasks.download-models]
depends-on = ["install"]
cmd = ["bash", "-lc", """
cd "$FOUNDRY_DIR" && \
foundry install base-models --checkpoint-dir "$FOUNDRY_CHECKPOINTS"
"""]

[tasks.foundry]
depends-on = ["install"]
args = ["args"]
cmd = ["bash", "-lc", """
cd "$FOUNDRY_DIR" && \
foundry {{args}}
"""]

[tasks.execute]
# depends-on = ["install"]
args = ["cmd"]
cmd = ["bash", "-lc", """
{{cmd}}
"""]
# cd "$FOUNDRY_DIR"

[tasks.clean]
cmd = ["bash", "-lc", """
rm -rf "$FOUNDRY_DIR"
"""]
