[workspace]
name = "proteinmpnn"
version = "0.0.1"
description = "Pixi environment for https://github.com/dauparas/ProteinMPNN"
platforms = ["linux-64"]
channels = ["conda-forge"]

[dependencies]
python = "3.11.*"
pip = "*"
git = "*"
wget = "*"
ca-certificates = "*"

# # Optional but nice for debugging
# mc = "*"

numpy = "*"
biopython = "*"
pandas = "*"
tqdm = "*"

[pypi-options]
index-url = "https://pypi.org/simple"
extra-index-urls = ["https://download.pytorch.org/whl/cu121"]

[pypi-dependencies]
torch = "*"
torchvision = "*"
torchaudio = "*"

[tasks]
#setup = { depends-on = ["install"] }
setup = { depends-on = ["clone"] }

[tasks.clone]
cmd = "rm -rf proteinmpnn-repo-clone && git clone https://github.com/dauparas/ProteinMPNN.git proteinmpnn-repo-clone"

# Run ProteinMPNN with arbitrary args:
[tasks.execute]
args = ["args"]
cmd = "python protein_mpnn_run.py {{args}}"
cwd = "proteinmpnn-repo-clone"

[activation]
env = { PYTHONWARNINGS = "ignore::FutureWarning" }
