[workspace]
name = "rfdiffusion"
version = "0.0.1"
description = "Pixi environment for https://github.com/RosettaCommons/rc RFdiffusion app"
# platforms = ["linux-64"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]
channels = ["conda-forge", "pytorch", "dglteam", "nvidia"]

[dependencies]
python = "==3.9"
pip = "*"

[tasks]
install = """
( rm -rf rfdiffusion-repo-clone ; git clone https://github.com/RosettaCommons/RFdiffusion.git rfdiffusion-repo-clone ) \
&& pip install \
	dgl==1.0.2+cu116 -f https://data.dgl.ai/wheels/cu116/repo.html \
	torch==1.12.1+cu116 --extra-index-url https://download.pytorch.org/whl/cu116 \
	e3nn==0.3.3 \
	wandb==0.12.0 \
	pynvml==11.0.0 \
	git+https://github.com/NVIDIA/dllogger#egg=dllogger \
	decorator==5.1.0 \
	hydra-core==1.3.2 \
	pyrsistent==0.19.3 \
&& pip install --no-cache-dir rfdiffusion-repo-clone/env/SE3Transformer \
&& pip install --no-cache-dir -e rfdiffusion-repo-clone/ --no-deps \
"""

setup = { depends-on = ["install"] }
